.erp {
    .erp-layout {
        height: 100%;
    }
    .erp-form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 12px;
    }
    .erp-json-form div:last-child {
        justify-content: end;
    }
    .ant-pro-page-container-children-container {
        padding-block: 0.6rem;
        padding-inline: 1rem;
    }
    .erp-tab-wrapper {
        display: flex;
    }
    .ant-message {
        z-index: 9999; /* Or any value higher than your drawer's z-index */
    }
}
.ant-drawer-body {
    padding-top: 16px !important;
}
